alabaster==0.7.12
appdirs==1.4.3
applescript==2018.11.19
arabic-reshaper==2.0.14
asn1crypto==0.24.0
astunparse==1.5.0
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
badapted==0.0.2
bleach==3.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
configobj==5.0.6
configparser==3.5.0
cryptography==2.3
cycler==0.10.0
Cython==0.29.14
darc-experiment-toolbox==0.0.1
decorator==4.3.0
detect==2018.11.19
docutils==0.15.2
dukpy==0.2.2
dulwich==0.19.7
egi==0.9.0
esprima==4.0.1
et-xmlfile==1.0.1
freetype-py==2.0.0.post6
ftd2xx==1.1.0
future==0.16.0
gevent==1.3.5
gitdb2==2.0.4
GitPython==2.1.11
glfw==1.7.0
greenlet==0.4.14
hieroglyph==1.0.0
httplib2==0.18.1
idna==2.7
imageio==2.5.0
imageio-ffmpeg==0.2.0
imagesize==1.1.0
ipython==7.3.0
ipython-genutils==0.2.0
javascripthon==0.10
jdcal==1.4
jedi==0.18.0
Jinja2==2.10.1
json-tricks==3.12.2
kiwisolver==1.0.1
LabJackPython==2.0.0
lazy-import==0.2.2
LJMPython==1.19.0
lxml==4.3.2
macropy3==1.1.0b2
markdown-it-py==0.6.1
MarkupSafe==1.1.1
matplotlib==3.3.0
mdit-py-plugins==0.2.4
more-itertools==7.0.0
moviepy==1.0.3
msgpack==0.6.1
msgpack-numpy==0.4.4.2
msgpack-python==0.5.6
numexpr==2.6.6
numpy==1.18.1
oauth2client==4.1.3
oauthlib==3.1.0
only==2018.11.20
opencv-python==3.4.2.17
openpyxl==2.5.4
packaging==19.2
pandas==0.23.3
parso==0.8.1
pathlib==1.0.1
pathlib2==2.3.3
pickleshare==0.7.5
Pillow==7.2.0
pkginfo==1.5.0.1
pluggy==0.9.0
praat-parselmouth==0.3.3
proglog==0.1.9
prompt-toolkit==2.0.9
psutil==5.4.6
PsychoPy @ file:///C:/Users/lpzjwp/code/psychopy/git
psychopy-ext==0.6.0.4
psychtoolbox==3.0.16
psychxr==0.2.2
public==2018.11.20
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.18
pygame==1.9.6
pyglet==1.4.11
Pygments==2.3.1
PyJWT==1.7.1
pylsl==1.13.1
pyo==0.9.7
PyOpenGL==3.1.0
pyOpenSSL==18.0.0
pyosf==1.0.5
pyparallel==0.2.2
pyparsing==2.2.0
pypiwin32==223
Pypubsub==4.0.0
pyqmix==2018.12.13
PyQt5==5.11.3
PyQt5_sip==4.19.14
pyserial==3.4
PySocks==1.7.1
pyte==0.8.0
pytest==4.0.0
python-bidi==0.4.0
python-dateutil==2.7.3
Python-FreeType==0.6
python-gitlab==1.5.1
python-qt5==0.1.10
python-vlc==3.0.11115
pytz==2015.7
PyVISA==1.9.1
pywin32==223
pyWinhook==1.6.1
pyxero==0.9.1
pyxid2==1.0
PyYAML==3.13
pyzmq==17.1.0
questplus==2019.4
readme-renderer==24.0
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.6
ruamel.yaml==0.15.88
runcmd==2018.12.14
scipy==1.4.1
seaborn==0.9.0
sip==4.19.8
six==1.11.0
SMITE==0.1
smmap2==2.0.4
snowballstemmer==1.9.1
sounddevice==0.3.11
SoundFile==0.10.2
Sphinx==2.3.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
stripe==2.41.0
suds-jurko==0.6
tables==3.4.4
temp==2018.11.20
thefuck==3.29
tobii-research==1.7.0
tornado==6.0.1
tqdm==4.23.4
traitlets==4.3.2
twine==1.13.0
urllib3==1.23
versioneer==0.18
vlc==2018.11.20
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
win-unicode-console==0.5
winpython==1.0
wxPython==4.1.0
xarray==0.12.3
xlrd==1.1.0
XlsxWriter==1.1.5
zmq==0.0.0
